{:kotoba.app/id "cloud.itonami.isic-0620", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieqs7qy7nckpthwi3teokheapix62qmt4ddh2hzybhtfy6impbe34", :kotoba.app/embed-url "ipfs://bafkreieqs7qy7nckpthwi3teokheapix62qmt4ddh2hzybhtfy6impbe34", :published {:archive "https://kotobase.net/ipfs/bafkreieqs7qy7nckpthwi3teokheapix62qmt4ddh2hzybhtfy6impbe34", :size 72667, :put-status 201, :get-status 200, :at "2026-08-15T13:46:56.169Z"}}
